{
    "config": {
        "database": {
            "host": "127.0.0.1",
            "port": "5432",
            "username": "root",
            "password": "root",
            "name": "database"
        },
        "apps": {
            "name": "Digimon Story Wiki",
            "port": "9706"
        },
        "logger": {
            "path": "/apps/logs"
        },
        "images": {
            "path": "../images/files"
        },
        "cors": {
            "allow_origins": [
                "http://localhost:8080"
            ]
        }
    }
}