# Application Configuration
APP_NAME=Digimon API Gateway
APP_PORT=8080

# Logger Configuration
LOGGER_PATH=./logs

# Images Configuration
IMAGES_PATH=./images

# CORS Configuration
CORS_ALLOW_ORIGINS=http://localhost:8080

# Microservices Configuration
DIGIMON_SERVICE_URL=http://localhost:8081
DIGIMON_SERVICE_TIMEOUT=30s

USER_SERVICE_URL=http://localhost:8082
USER_SERVICE_TIMEOUT=30s

ADMIN_SERVICE_URL=http://localhost:8083
ADMIN_SERVICE_TIMEOUT=30s