# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=database
DB_SSL_MODE=disable

# Application Configuration
APP_NAME=Digimon Story Wiki
APP_PORT=9706

# Logger Configuration
LOGGER_PATH=./logs

# Images Configuration
IMAGES_PATH=./images

# CORS Configuration
CORS_ALLOW_ORIGINS=http://localhost:8080